*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    
}
.container{
  min-height: 550px;
}


.spinner{
    width: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    animation: spin 2s ease-in-out infinite;
  -webkit-animation: spin 2s ease-in-out infinite;

}

.spinner i {
  color: #0e49b5;
}

.error-message{
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}



