
#news-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    font-size: 16px;
    min-height: 550px;
    width: 80%;
    display: flex;
    margin: 2em auto;
}

.news-articale{
    width: 100%;
    border: 3px solid #0e49b5;
    border-radius: 10px;
    padding: 10px;
    box-shadow:inset 2px 2px 0px 0px #0e49b5; 
    transition: box-shadow 0.5s;
    position: relative;
    margin-bottom: 0.5em;
    /* transition: 200ms transform */
}

.news-articale:hover{
    box-shadow: inset -2px -2px 0px 0px #0e49b5;
    /* transform: translate(0.25rem, -0.25rem); */
}

/* .news-articale:hover::after{
    z-index: -2;
    background-color: #000000;
    transition: inherit;
} */

.articale-row1{
    display: flex;
    justify-content: space-between;
    padding: 1px 5px;
    font-size: 1em;
}

.articale-row2{
    display: flex;
    padding: 1px 5px;
    font-size: 0.7em;
}

.articale-row1 a:not(:first-child){
    padding-left:  20px;
}

.articale-row2 p:not(:first-child){
    padding-left:  20px;
}

.articale-row1 a{
    color: black;
    text-decoration: none;
}

.articale-row1 a:hover{
    text-decoration: underline;
}

.isDisabled{
    color: black;
    cursor: not-allowed;
    opacity: 0.5; 
}
