body
{
    width: fixed;
    height: auto;
margin: 0px ;
padding: 0px ;


}
header{
display: flexbox;
background-image: url("./img/deskk.jpg");
justify-content: center;
align-content: center;
overflow: hidden;
height: 23em;
background-repeat: no-repeat;
  background-size: 100% 50%;
}

header h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: 	#696969;
    text-align: left;
    width: 100%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


